# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build folder
/build

# CLion IDE config
/.idea

# FMI graph files - can get very large
/data/fmi-graph/*
# Dijkstra check test files
data/fmi-graph/dijkstra-query-checks/*
# Keep small toy graph for testing
!/data/fmi-graph/toy-graph.fmi
!/data/fmi-graph/source.txt

# Raster files
/data/raster-file/**
# Keep data from de lidar 1m dataset as sample
!/data/raster-file/**/
!/data/raster-file/de/**
!/data/experiments/mesh-simplification/dgm1_32_529_5376_1_bw_2017-raw-raster.obj
